@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* RESET STYLES */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

html {
    /* default font size is set here. All other font sizes will be calculated using rem. e.g 1rem = 16px, 2rem = 32px */
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/* Dissable outline when text in focus */

textarea:focus, input:focus {
    outline: none;
}

/* Dissable text selection everywhere */

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.appMainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.appHeader {
    min-height: 10px;
    margin-bottom: 40px;
}

.stepLabel {
    font-size: 18px;
    font-weight: bold;
}

.appGridContainer {
    border: #282c34 1px solid;
    padding: 40px;
    margin: 20px;
}

.appGridContainer01 {
    display: grid;
    grid-template-columns: [column1] 10vw [column2] 30vw [column3] 120px [end];
    grid-template-rows: [row1] 30px [row2] 30px [row3] 30px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.appGridContainer02 {
    display: grid;
    grid-template-columns: [column1] 10vw [column2] 30vw [column3] 120px [end];
    grid-template-rows: [row1] 30px [row2] 30px [row3] 30px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.appGridContainer03 {
    display: grid;
    grid-template-columns: [column1] 10vw [column2] 30vw [column3] 120px [end];
    grid-template-rows: [row1] 30px [row2] 30px [row3] 30px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.appGridContainer04 {
    display: grid;
    grid-template-columns: [column1] 10vw [column2] 30vw [column3] 120px [end];
    grid-template-rows: [row1] 30px [row2] 30px [row3] 30px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.appButtonSend, .appButtonFetch {
    border-width: 0px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: #1482b5;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
}

.appButtonSend:disabled, .appButtonFetch:disabled {
    pointer-events: none;
    background-color: darkgray;
}

.appButtonSend:hover {
    color: #000000;
    background-color: #57a2c5;
}

.appButtonFetch:hover {
    color: #000000;
    background-color: #57a2c5;
}