.Wallet-mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
    height: 80vh;
}

.Wallet-button {
    margin-top: 10px;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 240px;
    color: white;
    background-color: #1482b5;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
}

.Wallet-button:hover {
    background-color: #1d6f96;
}

.Wallet-button:active {
    color: red;
}

.Wallet-connection {
    margin-top: 30px;
    margin-bottom: 30px;
}

.Wallet-button-personal-sign {
    margin-top: 120px;
}

.Wallet-personal-sign-result {
    margin-top: 30px;
}